<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-15 col-md-offset-.5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Project</h4>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>PSO</th>
              <th>Customer</th>
              <th>SOW Name</th>
              <th>SOW Hours</th>
              <th>Start Date</th>
              <th>Go-Live Date</th>
              <th colspan="5"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @project.Professional_Services_Org %></td>
              <td><%= @project.Customer_Name %></td>
              <td><%= @project.Sow_Name %></td>
              <td><%= @project.Sow_Hours %></td>
              <td><%= @project.Start_Date %></td>
              <td><%= @project.Go_Live %></td>

              <td><%= link_to 'Edit', edit_project_path(@project) %> |
                <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          </tbody>
          <p>
            <strong>Project description:</strong>
            <%= @project.Project_Description %>
          </p>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-15 col-md-offset-.5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Project IDDs</h4>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Integration ID</th>
              <th>Integration Name</th>
              <th>Integration Type</th>
              <th>From Sys</th>
              <th>To Sys</th>
              <th colspan="5">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <div id="idds_wrapper">
                <%= render @project.idds %>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <%= link_to 'Create New IDD', new_project_idd_path(@project), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>




<!-- <div id="idds_wrapper">
<% @project.idds.each do |idd| %>
<%= link_to idd.integration_id, idd_path(idd) %>
<%= link_to "Delete IDD", project_idd_path(@project, idd), method: :delete, data: { confirm: "Are you sure?"} %>
<br>
<% end %>
</div> -->
