
<!-- <%= link_to idd.integration_id, idd_path(idd) %> |

<%= link_to "Mark Out of Scope", complete_project_idd_path(@project, idd.id), method: :patch %>
<%= link_to "Delete IDD", project_idd_path(@project, idd), method: :delete, data: { confirm: "Are you sure?"} %>
<br> -->
<tr>
  <td>
    <div class="idd">
      <%= link_to idd.integration_id, idd_path(idd) %>
    </div>
  </td>
  <td>
    <%= idd.integration_name %></td><td>
    <%= idd.integration_type %></td><td>
    <%= idd.originating_system %></td><td>
    <%= idd.destination_system %>

  </td>
  <td>
    <% if !idd.completed? %>
    <div class="complete">
      <%= link_to "Mark Out of Scope", complete_project_idd_path(@project, idd.id), method: :patch %>
    </div>
    <% end %>
    <div class="trash">
      <%= link_to "Edit", edit_project_idd_path(@project, idd) %>
    </div>
    <div class="trash">
      <%= link_to "Delete", project_idd_path(@project, idd), method: :delete, data: { confirm: "Are you sure?"} %>
    </div>


  </td>
</tr>
